@{
    ViewData["Title"] = "割引率計算機";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/discount.css" asp-append-version="true" />
</head>
<p>
    Lv1. 「割引後の金額(税抜)」が計算されるようにしよう<br />
    Lv2. 「割引後の金額(10％税込)」が計算されるようにしよう
</p>
<div class="container">
    <p>買いたい商品の金額を入力してください。</p>
    <label for="price">商品の金額(税抜):</label>
    <input type="number" id="price">
    <br />
    <label for="discount">割引率:</label>
    <input type="number" id="discount">
    <br />
    <button id="calculate">計算！</button>
    <br />
    <label for="total">割引後の金額(税抜):</label>
    <span id="total"></span>
    <br />
    <label for="total">割引後の金額(10％税込):</label>
    <span id="totaltax"></span>
</div>
<script src="~/js/discount.js"></script>