@{
    ViewData["Title"] = "割引率計算機";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/discount.css" asp-append-version="true" />
</head>
<ul>
    <li>課題① 「割引後の金額(税抜)」が計算されるようにしよう</li>
    <li>課題② 「割引後の金額(10％税込)」が計算されるようにしよう</li>
</ul>
<div class="container">
    <p>買いたい商品の金額を入力してください。</p>
    <label for="price">商品の金額(税抜):</label>
    <input type="number" id="price" value="1000">
    <br />
    <label for="discount">割引率(％):</label>
    <input type="number" id="discount" value="10">
    <br />
    <button id="calculate">計算！</button>
    <br />
    <label for="total">割引後の金額(税抜):</label>
    <span id="total"></span>
    <br />
    <label for="total">割引後の金額(10％税込):</label>
    <span id="totaltax"></span>
</div>

<details>
    <summary>完成図</summary>
    <img src="~/media/discount_1.png" border="1" width="100%">
</details>

<hr />

<details>
    <summary>ヒント</summary>
    <p>以下のファイルを編集します。</p>
    <img src="~/media/discount_2.png" border="1">
    <details>
        <summary>更にヒント</summary>
        <ul>
            <li>① 割引後の金額(税抜)の計算方法</li>
            <ul>
                <li>商品の金額(税抜) ｘ (1 - (割引率 / 100))</li>
            </ul>
        </ul>
        <ul>
            <li>② 割引後の金額(10％税込)の計算方法</li>
            <ul>
                <li>①で算出した値を110％(1.1倍)にする</li>
            </ul>
        </ul>
    </details>
</details>

<script src="~/js/discount.js"></script>