@{
    ViewData["Title"] = "プロフィールのページ";
}
<h1>@ViewData["Title"]</h1>

<p>プロフィールのページです。</p>
<div>名前: @ViewBag.Name</div>
<div>出身地: </div>
<div>趣味: </div>
<div>マイブーム: </div>


<hr />
<details>
    <summary>完成図</summary>
    <img src="~/media/profile_1.png" border="1" width="50%">
</details>
<details>
    <summary>プロフィール作成のヒント</summary>
    <p>以下のファイルを編集します。</p>
    <img src="~/media/profile_2.png" border="1" width="100%">
</details>